<mat-toolbar
  class="header-content"
  color="primary"
>
  <a class="header-logo" routerLink="/">
    Swapi Tester
  </a>

  <nav class="mat-nav-list">
    <a
      mat-button
      routerLink="/auth/login"
      routerLinkActive="mat-accent"
    >Login</a>
    <a
      mat-button
      routerLink="/auth/register"
      routerLinkActive="mat-accent"
    >Register</a>
    <a
      mat-button
      routerLink="/auth/logout"
      routerLinkActive="mat-accent"
    >Logout</a>
  </nav>
</mat-toolbar>
