<div *ngIf="planetData$ | async as planet" class="planet-detail">
  <mat-card class="planet-detail__card">
    <mat-card-header>
      <img
        mat-card-avatar
        class="planet-detail__avatar"
        [src]="planet.imageUrl"
        alt="Photo of {{ planet.name }}"
      >
      <mat-card-title>{{ planet.name }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      [src]="planet.imageUrl"
      alt="Photo of {{ planet.name }}"
    >
  </mat-card>
  <mat-list class="planet-detail__options">
    <ng-container *ngFor="let param of planetParams">
      <mat-list-item
        *ngIf="planet[param]"
        class="planet-detail__options-item"
      >
        <p matListItemTitle class="planet-detail__options-title">{{ param | titlecase }}</p>
        <p
          matListItemLine
          *ngIf="!(planet[param] | isArray)"
          class="planet-detail__options-value"
        >{{ planet[param] }}</p>
      </mat-list-item>
    </ng-container>
    <mat-list-item
      *ngIf="planet?.citizens"
      class="planet-detail__options-item"
    >
      <p class="planet-detail__options-title">Residents</p>
      <div
        *ngIf="planet?.citizens; else emptyList"
        class="planet-detail__options-custom-list"
      >
        <ng-container *ngFor="let person of planet?.citizens">
          <p class="planet-detail__options-custom-value">{{ person.name }}</p>
        </ng-container>
      </div>
    </mat-list-item>
  </mat-list>
</div>

<ng-template #emptyList>
  <p class="planet-detail__options-value">Residents aren't exist</p>
</ng-template>
