.planets {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 10px;

  &__card {
    cursor: pointer;
    text-decoration: none;

    &-header {
      margin: 5px 0 10px;
      align-items: center;
    }

    .mat-card-header .mat-card-title {
      margin-bottom: 0;
    }
  }
}

