<div class="planets">
  <a *ngFor="let planet of allPlanets" class="planets__card">
    <mat-card>
      <mat-card-header class="planets__card-header">
        <mat-card-title>{{ planet.name }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        src="https://starwars-visualguide.com/assets/img/planets/5.jpg"
        alt="Photo of {{ planet.name }}"
      >
      <mat-card-content>
        <p class="planets__card-desc">
          <span>Climate: &nbsp;</span>
          <span>{{ planet.climate }}</span>
        </p>
        <p class="planets__card-desc">
          <span>Population: &nbsp;</span>
          <span>{{ planet.population }}</span>
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</div>

