<div class="planets">
  <a
    *ngFor="let planet of (allPlanets$ | async); trackBy: trackById"
    class="planets__card"
  >
    <mat-card (click)="handlePlanetDetails(planet.url)">
      <mat-card-header class="planets__card-header">
        <mat-card-title>{{ planet.name }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        [src]="planet.imageUrl"
        alt="Photo of {{ planet.name }}"
      >
      <mat-card-content>
        <p class="planets__card-desc">
          <span>Climate: &nbsp;</span>
          <span>{{ planet.climate }}</span>
        </p>
        <p class="planets__card-desc">
          <span>Population: &nbsp;</span>
          <span>{{ planet.population }}</span>
        </p>
      </mat-card-content>
    </mat-card>
  </a>
</div>


<ng-template
  #toolbarTmpl
  let-loadingStatus="loadingStatus"
>
  <div class="planets-toolbar">
    <button
      mat-raised-button
      *ngIf="!loadingStatus"
      color="primary"
      (click)="loadPlanets()"
    >Show more
    </button>
    <mat-spinner
      *ngIf="loadingStatus"
      color="primary"
      mode="indeterminate"
      [diameter]="30"
    ></mat-spinner>
  </div>
</ng-template>

<ng-container
  [ngTemplateOutlet]="toolbarTmpl"
  [ngTemplateOutletContext]="{ loadingStatus: loadingStatus$ | async }"
></ng-container>
