/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
}

body {
  background-color: #303030;
  font-family: "Nunito", sans-serif;
}


/**
* TOP LOADER
*
* @section loading.service.ts
*/

.top-loader {
  position: fixed;
  top: 9%;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  background: linear-gradient(to right, #ff4893 25%, #9e9494 75%, #424242);
  transition: transform 0.5s ease 0s, opacity 0s ease 0.6s;
  transform-origin: 0 0;
  transform: scaleX(1);

  &._loading-start {
    transform: scaleX(0);
    opacity: 1;
    transition: none;
  }

  &._loading {
    transition: transform 20s cubic-bezier(0, 1, .3, .87) 0s;
    transform: scaleX(0.9);
    opacity: 1;
  }
}
